* {
    background-color: black;
    font-family: monospace;
    color: whitesmoke;
    box-sizing: border-box;
}

h1 
{
    letter-spacing: 2.5px;
}

.Introduction
{
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    width: 400px;
    text-align: center;

}

#titles
{
    text-align: center;
    font-size: 12px;
    font-weight: bolder; 
    margin-right: 20px;
}