* {
    background-color: black;
    font-family: monospace;
    color: whitesmoke;
    box-sizing: border-box;
}

h1 
{
    letter-spacing: 2.5px;
    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: solid 2px grey;
    
}

.Introduction
{
    
    margin-left: 40px;
    margin-top: 40px;
    width: 350px;
    text-align: center;
    justify-content: left;
    
    
    
}

#titles
{
    text-align: center;
    font-size: 12px;
    font-weight: bolder; 
    margin-left: 25px;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    border: solid 1px grey;
    
}

.navbar
{
    float: right;
    margin-right: 20px;
    font-size: 18px;
    display: inline-block;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
}

.navbar, a
{
    color: black;
    background-color: whitesmoke;
    
}

